* {

    outline: 0 auto;
}

:root {
    --text-color: #48494E;
    --heading: #090F32;
    --prime-one: #FF8C24;
    --prime-two: #FF733B;
    --prime-three: #6A45FF;
    --prime-four: #FFCD45;
    --prime-five: #007BFF;
    --prime-six: #FFD338;
    --prime-seven: linear-gradient(-90deg, #FF7DF2 0%, #FF275B 100%);
    --prime-eight: #FFED4E;
    --prime-nine: #FF1292;
    --prime-ten: #FF3294;
    --prime-eleven: #FFCE4C;
    --prime-twelve: #FFE500;
    --fillBtn-bg: #095859;
    --text-color-hightlight: #095859;
    --secendary-bg: #F5F5F5;

}



::-webkit-scrollbar {
    width: 4px !important;
}

::-webkit-scrollbar-track {
    background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
    background-color: #090F32 !important;
}



.container {
    padding: 0 5rem;
}

.pageContainer {
    max-width: 1536px;
    margin: 0 auto;
}


@media screen and (max-width: 1000px) {
    .container {
        padding: 0 3rem;
    }
}

@media screen and (max-width: 800px) {
    .container {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 760px) {
    .container {
        padding: 0 1.5rem;
    }
    .sec-title{
        font-size: 20px !important;
    }
}

.secendary-bg {
    background-color: var(--secendary-bg);
    width: 100%;
}
.sec-title{
    font-size: 60px;
    padding: 1rem 0;
    
}

/*  */
.sidebar {
    backdrop-filter: blur(4px);
}

/*
================= shared section ===============
*/
.fillBtn {
    background-color: var(--prime-five);
}
.fillBtn:hover {
    background-color: var(--prime-two);
}

.outLineBtn {
    border: 1px solid #000;
    cursor: pointer;
    color: var(--prime-two);
}

.outLineBtn:hover {
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: var(--prime-two);
    transition: .6s;
}

/* menu */
.menuItem {
    padding: .4rem 0;
    
}

.pageBannar {
    background-image: url('../assects/image/bannar/bg-16.svg');
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.title {
    text-transform: capitalize;
}

/* 
============= HOME PAGE ==============
 */
.homeBannar {
    background-image: url('../assects/image/bannar/home.JPG');
    background-size: cover;
    min-height: 100%;
    width: 100%;
}

/* 
before:content-[''] before:absolute before:w-[98%] before:h-3 before:z-[-1] before:left-1 before:bottom-2.5 before:bg-[rgba(255,139,37,0.4)]

inline-block relative z-[1]
 */
.heighLight {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.heighLight::before {
    content: '';
    position: absolute;
    width: 98%;
    height: 12px;
    left: 4px;
    z-index: -1;
    bottom: 8px;
    background-color: rgba(255, 139, 37, 0.4);
}

/*  */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback .swiper-slide {
    width: 60% !important;
}

.feedback .swiper-slide:nth-child(2n) {
    width: 60%;
}

.feedback .swiper-slide:nth-child(3n) {
    width: 40%;
}
@media screen and (max-width: 1000px) {
    
    .feedback .swiper-slide {
        width: 90% !important;
    }
}


/*  */